@import "tailwindcss";

@theme {
  --color-grafito: #faf9f6;
  --color-superficie: #ffffff;
  --color-superficie-alta: #f6f5f1;
  --color-tarjeta: #ffffff;
  --color-primario: #2c7a55;
  --color-primario-hover: #256a48;
  --color-acento: #9a6a0e;
  --color-acento-hover: #7a5309;
  --color-texto: #1f2421;
  --color-texto-suave: #7a7f78;
  --color-borde: #ece9e1;
  --color-peligro: #b24a3e;
  --color-exito: #2c7a55;

  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-jakarta);
}

body {
  background-color: var(--color-grafito);
  color: var(--color-texto);
}
